
{% extends '../base.html' %}
{% load static %}

{% block title %}Cart Item{% endblock %}

{% block content %}
<div class="container p-5">
    <h2>Your Shopping Cart</h2>

    {% if cart_items %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product</th>
                {% comment %} <th>Quantity</th> {% endcomment %}
                <th>Unit Price</th>
                {% comment %} <th>Total</th> {% endcomment %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in products %}
            <tr>
                <td>{{ item.product_name }}</td>
                {% comment %} <td>
                    <!-- Form to update quantity -->
                    <form action="{% url 'home' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.product_id }}">
                        <input type="number" name="quantity" min="1" value="{{ item.quantity }}" class="form-control" style="width: 80px;">
                        <button type="submit" class="btn btn-sm btn-primary">Update</button>
                    </form>
                </td> {% endcomment %}
                <td>${{ item.price }}</td>
                {% comment %} <td>${{ item.unit_price * item.quantity }}</td> {% endcomment %}
                <td>
                    <!-- Form to remove an item from the cart -->
                    <form action="{% url 'cart_delete' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.id }}">
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-end">
        <h4>Total: ${{ total_price }}</h4>
        <a href="{% url 'home' %}" class="btn btn-success">Proceed to Checkout</a>
    </div>

    {% else %}
    <p>Your cart is empty. <a href="/products">Shop now</a>.</p>
    {% endif %}
</div>
{% endblock %}