<!-- templates/ecommerce_app/about.html -->
{% load static %}
{% extends 'ecomapp/base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<section id="about" class="padding-large">
  <div class="container">
    <h2 class="text-uppercase">About Us</h2>
    <p>We are a leading eCommerce store with a wide variety of products and excellent customer service.</p>
    <p>Our team is dedicated to providing you with the best online shopping experience. Feel free to contact us with any queries or suggestions.</p>
  </div>
</section>
{% endblock %}
