<!-- templates/ecommerce_app/nav.html -->
{% load static %}
<header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
    <nav id="header-nav" class="navbar navbar-expand-lg px-3 mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'images/main-logo.png' %}" class="logo">
        </a>
        <button class="navbar-toggler d-flex d-lg-none order-3 p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="navbar-icon">
            <use xlink:href="#navbar-icon"></use>
          </svg>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
          <div class="offcanvas-header px-4 pb-0">
            <a class="navbar-brand" href="{% url 'home' %}">
              <img src="{% static 'images/main-logo.png' %}" class="logo">
            </a>
            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul id="navbar" class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link me-4 active" href="{% url 'home' %}">Home</a>
              </li>
              {% comment %} <li class="nav-item">
                <a class="nav-link me-4" href="#company-services">Services</a>
              </li> {% endcomment %}
              <li class="nav-item">
                <a class="nav-link me-4" href="{% url 'product' %}">Products</a>
              </li>
              {% if request.user.is_authenticated %}
              {% comment %} <li class="nav-item">
                <a class="nav-link me-4" href="{% url 'profile' %}">Profile</a>
              </li> {% endcomment %}
              <li class="nav-item">
                <a class="nav-link me-4" href="{% url 'logout' %}">Logout</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="{% url 'cart' %}">cart</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link me-4" href="{% url 'signup'  %}">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-4" href="{% url 'login'  %}">Login</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <form method="post" action="{% url 'product' %}">
                  {%csrf_token%}
                  <input type="text" class="border-0 rounded-1" name="name" placeholder="Search for product">
                  <input type="submit" value="search" class="border-0 rounded-1"></form>
              </li>

              {% comment %} <li class="nav-item dropdown">
                <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'home' %}" class="dropdown-item">About</a></li>
                  <li><a href="{% url 'signup' %}" class="dropdown-item">Signup</a></li>
                  <li><a href="{% url 'login' %}" class="dropdown-item">Login</a></li>
                  <li><a href="{% url 'cart' %}" class="dropdown-item">Cart</a></li>
                  <li><a href="{% url 'home' %}" class="dropdown-item">Checkout</a></li>
                  <li><a href="{% url 'home' %}" class="dropdown-item">Single Post</a></li>
                  <li><a href="{% url 'home' %}" class="dropdown-item">Single Product</a></li>
                  <li><a href="{% url 'home' %}" class="dropdown-item">Contact</a></li>
                </ul>
              </li> {% endcomment %}
              <li class="nav-item">
                <div class="user-items ps-5">
                  <ul class="d-flex justify-content-end list-unstyled">
                    <li class="search-item pe-3">
                      <a href="#" class="search-button">
                        <svg class="search"><use xlink:href="#search"></use></svg>
                      </a>
                    </li>
                    <li class="pe-3">
                      <a href="#"><svg class="user"><use xlink:href="#user"></use></svg></a>
                    </li>
                    <li><a href="{% url 'home' %}"><svg class="cart"><use xlink:href="#cart"></use></svg></a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  