
{% extends 'ecomapp/base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<section id="mobile-products" class="product-store position-relative padding-large">
  {% if catagory%}
  {% for j in catagory %}
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3 pt-3">
          <h2 class="display-7 text-dark text-uppercase pt-3 ">{{ j.name }}</h2>
          {% comment %} <div class="btn-right">
            <a href="shop.html" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
          </div> {% endcomment %}
        </div>
        
        <div class="swiper product-swiper">

          <div class="swiper-wrapper">
            {% for i in products %} 
            {% if i.category == j.name %}
            <div class="swiper-slide">
              
              <div class="product-card position-relative ">
                <div class="image-holder shadow" style="height: 230px; width: 250px; overflow: hidden;">
                  <img src="/media/{{i.product_image}}" style="height: 100%; width: 100%; overflow: hidden;" alt="product-item" class="img-fluid shadow">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    {% comment %} <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a> {% endcomment %}
                    <form action="{% url 'cart' %}" method="POST">  <!-- URL to the view handling the form -->
                      {% csrf_token %}
                      <input type="hidden" name="product_id" value="{{ i.id }}">  <!-- Product ID to send -->
                      <input type="submit" value="Add to cart" class="btn btn-primary">
                  </form>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">{{i.product_name}}</a>
                  </h3>
                  <span class="item-price text-primary">₹{{i.price}}</span>
                  
                </div>
              </div>
            </div>
          
           
            {% endif %}
            
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
    {% endfor %}
    {% else %}
    <div class="container">
      <div class="row">
        <div class="display-header d-flex justify-content-between pb-3 pt-3">
          <h4 class="display-7 text-dark text-uppercase pt-3">You search products</h4>
          {% comment %} <div class="btn-right">
            <a href="shop.html" class="btn btn-medium btn-normal text-uppercase">Go to Shop</a>
          </div> {% endcomment %}
        </div>
        
        <div class="swiper product-swiper">

          <div class="swiper-wrapper">
            {% for i in products %} 
            
            <div class="swiper-slide">
              
              <div class="product-card position-relative">
                <div class="image-holder">
                  <img src="/media/{{i.product_image}}" alt="product-item" class="img-fluid">
                </div>
                <div class="cart-concern position-absolute">
                  <div class="cart-button d-flex">
                    {% comment %} <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a> {% endcomment %}
                    <form action="{% url 'cart' %}" method="POST">  <!-- URL to the view handling the form -->
                      {% csrf_token %}
                      <input type="hidden" name="product_id" value="{{ i.id }}">  <!-- Product ID to send -->
                      <input type="submit" value="Add to cart" class="btn btn-primary">
                  </form>
                  </div>
                </div>
                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">
                  <h3 class="card-title text-uppercase">
                    <a href="#">{{i.product_name}}</a>
                  </h3>
                  <span class="item-price text-primary">₹{{i.price}}</span>
                  
                </div>
              </div>
            </div>
          
           
           
            
            {% endfor %}
            
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination position-absolute text-center"></div>
    {% endif %}

  </section>
{% endblock %}